name: Daily build

on:
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:

jobs:
  call_workflow:
    name: Run Daily Build Workflow
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    uses: ballerina-platform/ballerina-library/.github/workflows/daily-build-template.yml@main
    secrets: inherit
